input[type=button] {
    font-size: 12pt;
    padding: 3px 12px 3px 12px;
    outline: none;
    cursor: pointer;
    font-weight: normal;
    background-color: #D8D8D8;
    border-left: 0px #1E202C solid;
    border-top: 0px #1E202C solid;
    border-right: 0px #1E202C solid;
    border-bottom: 0px #1E202C solid;
    color: #1E202C;
}

input[type=button]:hover{
    background-color: #D2CFD8;
}

.colorblue {
    box-shadow: 0 4px 0 #00B8FE;
}

.colordarkblue {
    box-shadow: 0 4px 0 #1766A1;
}

.coloryellow {
    box-shadow: 0 4px 0 #FFC000;
}

.colorgreen {
    box-shadow: 0 4px 0 #55B844;
}

.colorred {
    box-shadow: 0 4px 0 #EB1414;
}

.colordarkgrey {
    box-shadow: 0 4px 0 #323544;
}