input[type=text]{
    font-size: 12pt;
    background-color: #F1F1F1;
    border: 1px #1E202C solid;
    outline: none;
    color: #1E202C;
    padding: 3px 5px 3px 31px;
    background-image: url('pixel_1E202C.png'), url('input_img.png'), url('../img/pixel_00B8FE.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 26px, 0, 0;
    background-size: auto, auto, 26px 25px;
}

input[type=text]{
    width: 150px;
    font-size: 12pt;
    background-color: white;
    border: 1px gray solid;
    outline: none;
    color: #1E202C;
    padding: 3px 5px 3px 31px;

}
input[type=text].proveedor{
    margin: 3px 3px 3px 3px;
    background-image: url('../pixel_1E202C.png'), url('../imagenes/user.png'), url('../img/pixel_00B8FE.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 20px, 2px, 0;
    margin: 3px 3px 3px 3px;
    background-size: auto, auto, 20px 24px;

}
input[type=date].fecha{
    width: 150px;
    font-size: 9pt;
    background-color:white;
    border: 1px gray solid;
    outline: none;
    color: gray;
    padding: 3px 5px 3px 31px;
    background-image: url('../pixel_1E202C.png'), url('../imagenes/calendar.png'), url('../img/pixel_00B8FE.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 20px, 2px, 0;
    margin: 3px 3px 3px 3px;
    background-size: auto, auto, 20px 24px;

}
input[type=text].precio{
    margin: 3px 3px 3px 3px;
    background-image: url('../pixel_1E202C.png'), url('../imagenes/dollar-symbol.png'), url('../img/pixel_00B8FE.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 20px, 2px,0;
    margin: 3px 3px 3px 3px;
    background-size: auto, auto, 20px 24px;
}
input[type=text].costo{
    margin: 3px 3px 3px 3px;
    background-image: url('../pixel_1E202C.png'), url('../imagenes/price-tag (1).png'), url('../img/pixel_00B8FE.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 20px, 2px,0;
    margin: 3px 3px 3px 3px;
    background-size: auto, auto, 20px 24px;
}
input[type=text].precioVenta{
    margin: 3px 3px 3px 3px;
    background-image: url('../pixel_1E202C.png'), url('../imagenes/price-tag (2).png');
    background-repeat: repeat-y, no-repeat;
    background-position: 20px, 2px;
    margin: 3px 3px 3px 3px;
}
input[type=text].tiempo{
    margin: 3px 3px 3px 3px;
    background-image: url('../pixel_1E202C.png'), url('../imagenes/time.png');
    background-repeat: repeat-y, no-repeat;
    background-position: 20px, 2px;
    margin: 3px 3px 3px 3px;
}
input[type=text].buscar{
    margin: 3px 3px 3px 3px;
    background-image: url('../pixel_1E202C.png'), url('../imagenes/search.png'), url('../img/pixel_00B8FE.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 20px, 2px, 0;
    margin: 3px 3px 3px 3px;

    background-size: auto, auto, 20px 24px;

}
.añadir{
    margin-left: 68%;
    width:35px;
}
.lineaDivisora{
    font-size: 15pt;
    font-weight: bold;
    color:#1766A1;
    border-bottom: 1px #1766A1 solid;
    margin-bottom: 8px;
}