body {
    font-family: Arial;
    font-size: 10pt;
    margin: 0 0 0 0;
}
.principal{
    width: calc(100% - 10px);
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    padding: 5px 5px 5px 5px; "
}
input[type=text]{
    font-size: 12pt;
    background-color: #F1F1F1;
    border: 1px #1E202C solid;
    outline: none;
    color: #444444;
    padding: 3px 5px 3px 31px;
    background-image: url('../img/pixel_808080.png'), url('../img/input_img.png'), url('../img/pixel_00b8fe.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 26px, 0, 0;
    background-size: auto, auto, 26px 25px;
}

input[type=text]{
    width: 150px;
    font-size: 12pt;
    background-color: white;
    border: 1px gray solid;
    outline: none;
    padding: 3px 5px 3px 31px;

}
input[type=text].proveedor{
    margin: 3px 3px 3px 3px;
    background-image: url('../img/pixel_808080.png'), url('../img/usuario_16.png'), url('../img/pixel_00b8fe.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 26px, 5px, 0;
    margin: 3px 3px 3px 3px;
    background-size: auto, auto, 26px 25px;

}
input[type=date].fecha{
    width: 150px;
    font-size: 9pt;
    background-color:white;
    border: 1px gray solid;
    outline: none;
    padding: 3px 5px 3px 31px;
    background-image: url('../img/pixel_808080.png'), url('../img/calendario_16.png'), url('../img/pixel_00b8fe.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 26px, 5px, 0;
    margin: 3px 3px 3px 3px;
    background-size: auto, auto, 26px 25px;

}
input[type=text].precio{
    margin: 3px 3px 3px 3px;
    background-image: url('../img/pixel_808080.png'), url('../img/precio_16.png'), url('../img/pixel_00b8fe.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 26px, 5px,0;
    margin: 3px 3px 3px 3px;
    background-size: auto, auto, 26px 25px;
}
input[type=text].costo{
    margin: 3px 3px 3px 3px;
    background-image: url('../img/pixel_808080.png'), url('../img/ventas_16.png'), url('../img/pixel_00b8fe.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 26px, 5px,0;
    margin: 3px 3px 3px 3px;
    background-size: auto, auto, 26px 25px;
}
input[type=text].precioVenta{
    margin: 3px 3px 3px 3px;
    background-image: url('../img/pixel_808080.png'), url('../img/ventas_16.png');
    background-repeat: repeat-y, no-repeat;
    background-position: 26px, 5px;
    margin: 3px 3px 3px 3px;

}
input[type=text].tiempo{
    margin: 3px 3px 3px 3px;
    background-image: url('../img/pixel_808080.png'), url('../img/reloj_16.png');
    background-repeat: repeat-y, no-repeat;
    background-position: 26px, 5px;
    margin: 3px 3px 3px 3px;

}
input[type=text].buscar{
    margin: 3px 3px 3px 3px;
    background-image: url('../img/pixel_808080.png'), url('../img/busqueda_16.png'), url('../img/pixel_00b8fe.png');
    background-repeat: repeat-y, no-repeat, no-repeat;
    background-position: 26px, 5px, 0;
    margin: 3px 3px 3px 3px;
    background-size: auto, auto, 26px 25px;

}
input[type=button] {
    font-size: 12pt;
    padding: 3px 12px 3px 12px;
    outline: none;
    cursor: pointer;
    font-weight: normal;
    color: white;
}

input[type=button]:hover{
    background-color: #D2CFD8;
}
.colorgreen {
    font-size: 12pt;
    background-color: #55B844;
    border: 1px #55B844 solid;
    outline: none;
    color: #55B844;
    padding: 3px 5px 3px 31px;
    margin-left: 84.5%;
}
.colorred{
    font-size: 12pt;
    background-color: red;
    border: 1px red solid;
    outline: none;
    color: red;
    padding: 3px 5px 3px 31px;
    margin-left: 84.5%;
}
.añadir{
    margin-left: 68%;
    width:35px;
}
.lineaDivisora{
    font-size: 15pt;
    font-weight: bold;
    color:#1766A1;
    border-bottom: 1px #1766A1 solid;
    margin-bottom: 8px;
}
label{

}