.MCHeight{
    height: calc(100vh - 60px) !important;
}

.divMainGrid{
    height: calc(100% - 35px) !important;
}

.divGrid{
    display: block !important;
}

.divGridHeader{
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    height: 27px !important;
    margin-bottom: 1px !important;
    padding-right: 1px !important;
}

.divGridTable{
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: calc(100% - 28px) !important;
}

.divGrid .tblGrid {
    border: 0 !important;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    font-size: 9pt !important;
    width: calc(100% - 90px) !important;
    margin: 0 auto 0 auto !important;
}

.divGrid .tblGrid thead tr {
    margin-right: 50px !important;
}

.divGrid .tblGrid thead tr th {
    background-color: #1766A1 !important;
    color: #F1F1F1 !important;
    padding: 4px 4px 4px 4px !important;
    white-space: nowrap !important;
    border: 1px #323544 solid !important;
}

.divGrid .tblGrid tbody tr {
    margin-right: 50px !important;
}

.divGrid .tblGrid tbody tr td {
    padding: 4px 4px 4px 4px !important;
    /*line-height: 1.42857143;*/
    vertical-align: top !important;
    border: 1px #323544 solid !important;
}
.divGrid .tblGrid tbody  tr:nth-of-type(odd) {
    background-color: #F1F1F1 !important;
}
.divGrid .tblGrid tbody  tr:hover {
    background-color: #abbed3 !important;
}

.divGrid .tblGrid tbody tr .tdGridOffset {
    width: 1px !important;
    max-width: 1px !important;
    min-width: 1px !important;
    padding: 4px 0 4px 0 !important;
    background-color: #FFFFFF !important;
    border: 1px #FFFFFF solid !important;
}

.divGrid .tblGrid thead tr .thGridOffset {
    width: 1px !important;
    max-width: 1px !important;
    min-width: 1px !important;
    padding: 4px 0 4px 0 !important;
    background-color: #FFFFFF !important;
    border: 1px #FFFFFF solid !important;
}