body, html{
    font-family: Arial;
    background-color: #050409;
    margin: 0 0 0 0;
    width: 100%;
    height: 100%;
}

#imgIndexLogoASC{
    display: block;
    position: fixed;
    top: 3%;
    left: 3%;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
    width: 10%;
}

#imgIndexLogoAscend{
    display: block;
    position: fixed;
    top: 3%;
    right: 3%;
    -webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.1)));
    width: 13%;
}

#divIndexLoginMain {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0;
    display: block;
    vertical-align: middle;
    text-align: center;
}

#divIndexLoginContainer{
    display: inline-block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto auto;
    position: absolute;
    width: 25%;
    height: 12%;
    padding: 0 0 0 0;
    -webkit-box-reflect: below 11px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
}

#txtUser{
    display: block;
    border: 0;
    outline: none;
    width: 80%;
    height: 50%;
    border-bottom: 1px #050409 solid;
    padding: 2px 2px 2px 2px;
    color: #050409;
    background-color: #F1F1F1;
    font-weight: normal;
    font-size: 1.1em;
}

#pwdPassword{
    display: block;
    position: absolute;
    border: 0;
    outline: none;
    width: 80%;
    height: 50%;
    padding: 2px 2px 2px 2px;
    color: #050409;
    background-color: #F1F1F1;
    font-weight: normal;
    font-size: 1.1em;
}

#btnLogin{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: calc(100% + 9px);
    width: 20%;
    background-color: #00B8FE;
    border: 0;
    font-size: 300%;
    font-weight: bold;
    color: #F1F1F1;
    background-image: url('../img/login-arrow.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90% auto;
    border-left: 1px #050409 solid;
    cursor: pointer;
}

#divIndexFooter{
    background-color: #1766A1;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: Arial;
    text-align: center;
    color: #F1F1F1;
    line-height: 50px;
    font-weight: bold;
    font-size: .7em;
    white-space: normal;
}