body, html{
    background-color: #050409;
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    vertical-align: top;
}

#divIndexLogo {
    width: 50%;
    height: calc(100% - 50px);
    border: 0;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: inline-block;
    float: left;
    background-image: url('../img/logo_v_byn_1024.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40% auto;
}

#divIndexLoginMain {
    width: 50%;
    height: calc(100% - 50px);
    border: 0;
    display: inline-block;
    float: right;
    vertical-align: middle;
    text-align: center;
}

#divIndexLoginContainer{
    background-color: #F1F1F1;
    width: 50%;
    height: 50%;
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#divIndexLoginLogo{
    background-color: #050409;
    height: 15%;
    background-image: url('../img/logo_white-01.png');
    background-repeat: no-repeat;
    background-size: auto 85%;
    background-position: right top;
}

#divIndexLogin{
    background-color: #F1F1F1;
    height: 85%;
    text-align: center;
    vertical-align: bottom;
}

input[type=text]{
    position: relative;
    display: inline-block;
    background-color: #F1F1F1;
    width: 90%;
    border: 1px #050409 solid;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type=password]{
    position: relative;
    display: inline-block;
    background-color: #F1F1F1;
    width: 90%;
    border: 1px #050409 solid;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

input[type=button]{
    position: relative;
    display: inline-block;
    background-color: #F1F1F1;
    width: 90%;
    border: 1px #050409 solid;
    height: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#divIndexFooter{
    background-color: #1766A1;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    font-family: Arial;
    text-align: center;
    color: #F1F1F1;
    line-height: 50px;
    font-weight: bold;
    font-size: .7em;
}