/*### BEGIN: General ###*/
html, body {
    font-family: Arial;
    font-size: 10pt;
    background-color: #D8D8D8;
    margin: 0 0 0 0;
    vertical-align: top;
}
/*### END: General ###*/

/*### BEGIN: Main Menu ###*/
#divMenuMain {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 0;
    transition: 0.2s;
    overflow-x: hidden;
}

.divMenuLevel0 {
    height: 100%;
    width: calc(15% - 1px);
    background-color: #1766A1;
    float: left;
    display: block;
    overflow-x: hidden;
    border-right: 1px #1E202C solid;
}

.divMenuLevel1 {
    background-color: #4695D0;
    height: 100%;
    width: 0;
    float: left;
    display: block;
    overflow-x: hidden;
}

.divMenuLevel2 {
    background-color: #75C4FF;
    height: 100%;
    width: 0;
    float: left;
    display: block;
    overflow-x: hidden;
}

.divMenuPadding{
    height: 10%;
    background-color: #1E202C;
}

.divMenuLogo{
    background-image: url('../img/logo_h_a_256.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 80%;
}

.divMenuClear{
    height: 100%;
    width: 85%;
    background-color: rgba(0,0,0,.5);
    float: left;
    display: block;
    overflow-x: hidden;
}

.divMenuCategory {
    margin: 2px 2px 0px 2px;
    font-size: 1.3em;
    padding: 0 0 0 8px;
    background-color: #D8D8D8;
    border: 1px #1E202C solid;
    cursor: pointer;
}

.divMenuCategory:hover {
    background-color: #4695D0;
}

.divMenuCategorySelected {
    background-color: #4695D0;
}

.divMenuSubCategory {
    margin: 2px 2px 0px 2px;
    font-size: 1.3em;
    padding: 0 0 0 8px;
    background-color: #D8D8D8;
    border: 1px #1E202C solid;
    cursor: pointer;
}

.divMenuSubCategory:hover {
    background-color: #75C4FF;
}

.divMenuSubCategorySelected {
    background-color: #75C4FF;
}

.divMenuOption {
    margin: 2px 2px 0px 2px;
    font-size: 1.3em;
    padding: 0 0 0 8px;
    background-color: #D8D8D8;
    border: 1px #1E202C solid;
    cursor: pointer;
}

.divMenuOption:hover {
    background-color: #FFC000;
}

.divMenuLabel{
    background-color: #FFFFFF;
    padding: 2px 2px 2px 2px;
}

#divMenuHeader {
    background-color: #1766A1;
    width: 100%;
    height: 70px;
    margin-bottom: 2px;
    background-image: url('../img/logo_h_a_256.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    border: 0;
}
/*### END: Main Menu ###*/

/*### BEGIN: Top Menu ###*/
.divTopMenuLogo {
    display: block;
    height: 50px;
    width: 152px;
    float: left;
    border-right: 2px #D8D8D8 solid;
    background-image: url('../img/logo_h_byn_128.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.divTopMenu {
    cursor:pointer;
    display: block;
    height: 50px;
    width: 50px;
}

.divTopMenuLeft {
    float: left;
    border-right: 2px #D8D8D8 solid;
}

.divTopMenuRight {
    float: right;
    border-left: 2px #D8D8D8 solid;
}

.divTopMenu:hover {
    background-color: #1E202C;
}

.divTopMenuUser {
    cursor:pointer;
    display: block;
    height: 46px;
    width: 146px;
    float: right;
    line-height: 46px;
    color: #F1F1F1;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    border-left: 2px #D8D8D8 solid;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    padding: 2px 52px 2px 2px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.divTopMenuUser:hover {
    background-color: #1E202C;
}

#divTopMenuUserMain {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
}

#tableTopMenuUserMain {
    width: 100%;
    height: 100%;
    border-spacing: 2px;
    border-collapse: collapse;
}

#tdTopMenuUser {
    background-color: #050409;
    vertical-align: top;
    padding: 2px 2px 2px 2px;
}

.divTopMenuUserOption {
    height: 18px;
    font-size: 11pt;
    line-height: 18px;
    padding: 2px 2px 2px 24px;
    color: #1E202C;
    margin-bottom: 2px;
    margin-right: 2px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 2px center;
    cursor: pointer;
}

.divTopMenuUserOption:hover {
    background-color: #F1F1F1;
}

/*### END: Top Menu ###*/

/*### BEGIN: Tab and Workingsheet ###*/
.tdTabMainContainer{
    background-color: #1766A1;
    padding: 0 0 0 0;
}

.divTabContainer{
    width: calc(100% - 4px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px 2px 2px 2px;
}

.divTab {
    background-color: #FFFFFF;
    height: 26px;
    white-space: nowrap;
    font-size: 11pt;
    padding: 0 0 0 0;
    line-height: 26px;
    border: 0;
    margin-bottom: 2px;
    color: #1E202C;
}

.labelTab{
    display: inline-block;
    width: calc(100% - 42px);
    float: left;
    border-left: 8px #FFFFFF solid;
    padding: 0 0 0 8px;
    cursor: pointer;
}

.labelTab:hover {
    background-color: #F1F1F1;
}

.labelTabSelected{
    border-left: 8px #FFC000 solid;
}

.labelTabClose {
    background-color: #F1F1F1;
    display: inline-block;
    float: right;
    width: 26px;
    height: 26px;
    text-align: center;
    cursor: pointer;
}

.labelTabClose:hover {
    color: #FF2828;
    font-weight: bold;
}

.tdSheetMainContainer{
    padding: 0 0 0 0;
    vertical-align: top;
}

.divSheetContainer{
    width: calc(100% - 0px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #F1F1F1;
    padding: 0 0 0 0;
    vertical-align: top;
    padding-bottom: 0;
}

.iframeSheet {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0;
}
/*### END: Tab and Workingsheet ###*/

/*### BEGIN: Notification Panel ###*/
#tdNotificationContainer{
    background-color: #1766A1;
    padding: 0 0 0 0;
    vertical-align: top;
}

#divNotificationMain{
    height: 50%;
    vertical-align: top
}

#divNotificationTitle{
    text-transform: uppercase;
    color: #FFC000;
    font-size: 10pt;
    font-weight: normal;
    padding: 2px 2px 2px 2px;
    border: 0;
    border-bottom: 2px #D8D8D8 solid;
    background-color: #050409;
}

.divNotificationTitleTopBorder{
    border-top: 2px #D8D8D8 solid !important;
}

#divNotificationContainer{
    padding: 2px 2px 2px 2px;
    overflow-x: hidden;
    overflow-y: auto;
}

.divNotificationContainerTop{
    height: calc(100% - 22px);
}

.divNotificationContainerBottom{
    height: calc(100% - 26px);
}

.divNotification{
    height: 36px;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    font-size: 8pt;
    margin-bottom: 2px;
    cursor: pointer;
}

.divNotificationLeft{
    padding: 2px 2px 2px 42px;
    background-position: left top;
}

.divNotificationRight{
    padding: 2px 42px 2px 2px;
    background-position: right top;
}

.divNotification:hover{
    background-color: #F1F1F1;
}

.divNotificationDescription{
    color: #1E202C;
    height: 26px;
    overflow-y: hidden;
    overflow-x: hidden;
    border: 0;
}

.divNotificationTime{
    color: #1E202C;
    text-align: right;
    font-size: 7pt;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 10px;
    border:0;
}
/*### END: Notification Panel ###*/

