#divMenuMain {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

#tblMenu {
    width: 100%;
    height: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

#tdMenu {
    background-color: #F1F1F1;
    width: 204px;
    padding: 2px 2px 0 2px;
    vertical-align: top;
}

#tdMenuClear {
    background-color: rgba(0,0,0,.7);
    width: calc(100% - 204px);
}

#divMenuHeader {
    background-color: #1766A1;
    width: 100%;
    height: 70px;
    margin-bottom: 2px;
    background-image: url('../img/logo_h_a_256.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 80% auto;
    border: 0;
}

.divMenuCategory {
    margin-bottom: 2px;
    font-size: 10pt;
    padding: 2px 2px 2px 2px;
    background-color: #00B8FE;
    border: 0;
}

.divCategory{
    cursor:pointer;
    padding: 2px 2px 2px 2px;
    font-size: 14pt;
    font-weight: normal;
    border: 0;
    background-color: #00B8FE;
    margin-bottom: 0;
    color: #050409;
}

.divCategory:hover{
    background-color: #0086cc;
}

.divCategoryContainer{
    display: none;
    padding: 0 0 0 20px;
    border: 0;
}

.divMenuSubCategory{
    font-size: 12pt;
    font-weight: normal;
    padding: 2px 0 2px 2px;
    border: 0;
    background-color: #1766A1;
    margin-bottom: 2px;
    color: #F1F1F1;
}

.divSubCategory{
    cursor:pointer;
    border: 0;
}

.divSubCategory:hover{
    background-color: #00346F;
}

.divSubCategoryContainer{
    display: none;
    padding: 0 2px 0 20px;
    border: 0;
}

.divMenuOption{
    font-size: 10pt;
    font-weight: normal;
    cursor: pointer;
    padding: 2px 2px 2px 2px;
    border: 0;
    background-color: #D8D8D8;
    margin-top: 2px;
    color: #050409;
}

.divMenuOption:hover{
    background-color: #A6A6A6;
}
