.tabNot{
    display: inline-block;
    height: 52px;
    width: 185px;
    vertical-align: top;
    margin: 4px 3px 3px 5px;
    text-shadow: 0 1px 0 #00000;
    color: #f1f1f1;
    border: 1px solid #d2cfd8;
}
.tabNot .imagen{
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 3px 0 0;
    border: 1px #d2cfd8 solid;
}
.tabNot .labelContent {
    position: inherit;
    display: inline-block;
    width: calc(100% - 73px);
    vertical-align: top;
    padding: 4px 2px 4px 2px;
    cursor: pointer;
    font-size: 9pt;
    font-weight: bold;
}
.tabNot .labelPendientes {
    height: auto;
    width: calc(100% - 33px);
    padding: 4px 2px 4px 2px;
    cursor: pointer;
    font-size: 9pt;
}
.tabNot .labelContentSelected {
    position: inherit;
    display: inline-block;
    width: calc(100% - 23px);
    vertical-align: top;
    padding: 4px 2px 4px 2px;
    cursor: pointer;
    background-color: #1766A1;
    color:#F1F1F1;
}
.tabNot .labelClose {
    position: inherit;
    display: inline-block;
    width: 15px;
    padding: 4px 2px 4px 2px;
    text-align: center;
    cursor: pointer;
    color: #1766A1;
}

.tabNot:hover {
    background-color: #f1f1f1;
    color:#1766A1;
}