body {
    font-family: Arial;
    font-size: 10pt;
    margin: 0 0 0 0;
}
.principal{
    width: calc(100% - 10px);
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    padding: 5px 5px 5px 5px; "
}
.lineaDivisora{
    font-size: 15pt;
    font-weight: bold;
    color:white;
    border-bottom: 1px #050409 solid;
    margin-bottom: 8px;
    background-color: #050409;
}
.lineaDivisoraTitulo{
    font-size: 15pt;
    font-weight: bold;
    color: #1766A1;
    border-bottom: 1px #1766A1 solid;
    margin-bottom: 8px;
}
::-webkit-scrollbar{
    width: 10px;
    background: #dbe8ec;
}
::-webkit-scrollbar-button{
    width:8px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background:white;
    border:thin solid white;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(top, #f1f1f1, #f1f1f1);
    -webkit-box-shadow:   inset 0 1px 0 rgba(255,255,225,.5),
    inset 1px 0 0 rgba(255,255,255,.4),
    inset 0 1px 2px rgba(255,255,255,.3);

    border:thin solid #232c34;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, gray, gray);
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
    background: gray;
}
.filtros{
    text-align: center;
    margin-left: 30%;
    width: 45%;
    height: 85%;
    display:none;
    slow: 600ms;
    fast: 200ms;
    border: 1px dashed #D8D8D8;
    color: #00B8FE;
    font-size: 10pt;
    background-color: white;
}
.nombreReporte{
    height: 30px;
    text-align: center;
    background-color: #f1f1f1 ;

    border:  1px gray solid;
    margin: 8px 5px 5px 5px;
    font-size: 11pt;
}
.nombreReporte:hover{
    background-color: #D8D8D8;
    
}
.colorGreen {
    font-size: 12pt;
    background-color: #55B844;
    border: 1px #55B844 solid;
    outline: none;
    color: #55B844;
    padding: 3px 5px 3px 31px;
}
.colorRed {
    font-size: 12pt;
    background-color: red;
    border: 1px red solid;
    outline: none;
    color: red;
    padding: 3px 5px 3px 31px;

}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
label{
    font-weight: bold;
}
.infoGeneral{
    background-color: white;
    float: left;
    width: 100%;
    height: auto;
    margin: 0 0 0 0;"
}
.infoUsuario{
    float: left;
    background-color: white;
    width: 48%;
    height: auto;
    margin: 5px 5px 5px 5px;
    border: 1px gray solid;"
}
.infoEstadistica{
    float: left;
    background-color: white;
    width: 48%;
    height: auto;
    margin:  5px 5px 5px 5px;
}
.infoCredito{
    float: left;
    width: 100%;
    height: auto;
    border: 1px gray solid;
    margin: 0 0 5px 0;"
}
.Grafica{
    float: left;
    width: 100%;
    height: auto;
    border: 1px gray solid;
    margin: 0 0 0 0;
}
.infoGrafica{
    float: left;
    width: 50%;
    height: auto;"
}
tr:nth-child(odd) {
    background-color:#f2f2f2;
}
tr:nth-child(even) {
    background-color:#fbfbfb;
}
.reportePrincipal{
    width: 80%;
    max-width: 80%;
    height: auto;
    background-color: white;
    border: 1px gray solid;
    margin-left: 10%;
}