html, body
{
    font-family: Arial;
    font-size: 10pt;
    background-color: #F1F1F1;
    margin: 2px 2px 2px 2px;
    vertical-align: top;
}

.MainTitle {
    font-size: 15pt;
    font-weight: normal;
    color:#1766A1;
    border-bottom: 1px #1766A1 solid;
    margin-top: 6px;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.SubTitle {
    font-size: 10pt;
    font-weight: normal;
    color: #050409;
    border-bottom: 1px #050409 solid;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.MainContainer {
    background-color: #FFFFFF;
    text-align: left;
    padding: 6px 6px 6px 6px;
    border: 1px #1E202C solid;
    margin: 0 auto 6px auto;
    width: calc(100% - 16px);
    max-width: 1100px;
}


/*modal*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    margin-bottom: 100px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}






.ButtonContainer
{
    float: left;
    width: calc( 100% - 30px );
    height: auto;
    margin-bottom: 6px;
    text-align: right;
    margin-right: 15px;
    margin-left: 15px;

}


.btn {
    border: 0;
    padding: 4px 8px 8px 8px;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
    margin: 4px 0 4px 0;
    width:100%;
    text-transform: capitalize;
    font-weight:bolder;
}

/* SIZE COL SM*/
@media (min-width: 768px)
{
    .btn
    {
        width:auto;
        margin: 4px 0 4px 4px;
    }
}

/* SIZE COL MD*/
@media (min-width: 992px)
{
    .btn
    {
        width:auto;
        margin: 4px 0 4px 4px;
    }
}

/* SIZE COL LG*/
@media (min-width: 1200px)
{
    .btn
    {
        width:auto;
        margin: 4px 0 4px 4px;
    }
}

.btnOverBlue {
    background-color: #00b8fe;
    color: #FFFFFF;
    box-shadow: inset 0 -6px 0 #0080b3;
}
.btnOverBlue:hover {
    background-color: #0080b3;
}

.btnBrandBlue {
    background-color: #1766A1;
    color: #FFFFFF;
    box-shadow: inset 0 -6px 0 #0d3859;
}
.btnBrandBlue:hover {
    background-color: #0d3859;
}

.btnBackgroundBlack {
    background-color: #050409;
    color: #FFFFFF;
    box-shadow: inset 0 -6px 0 #323544;
}
.btnBackgroundBlack:hover {
    background-color: #323544;
}

.btnBlueGray {
    background-color: #323544;
    color: #FFFFFF;
    box-shadow: inset 0 -6px 0 #0b0b0f;
}
.btnBlueGray:hover {
    background-color: #0b0b0f;
}

.btnOverBlueGray {
    background-color: #1e202c;
    color: #FFFFFF;
    box-shadow: inset 0 -6px 0 #000000;
}
.btnOverBlueGray:hover {
    background-color: #000000;
}

.btnAlternativeGray {
    background-color: #d8d8d8;
    color: #000000;
    box-shadow: inset 0 -6px 0 #b3b3b3;
}
.btnAlternativeGray:hover {
    background-color: #b3b3b3;
}

.btnLetterGray {
    background-color: #5c5c5c;
    color: #FFFFFF;
    box-shadow: inset 0 -6px 0 #333333;
}
.btnLetterGray:hover {
    background-color: #333333;
}

.btnBackground {
    background-color: #F1F1F1;
    color: #000000;
    box-shadow: inset 0 -6px 0 #cccccc;
}
.btnBackground:hover {
    background-color: #cccccc;
}

.btnOverYellow {
    background-color: #FFC000;
    color: #FFFFFF;
    box-shadow: inset 0 -6px 0 #b38600;
}
.btnOverYellow:hover {
    background-color: #b38600;
}

.btnAlternativeBlue {
    background-color: #6285ad;
    color: #FFFFFF;
    box-shadow: inset 0 -6px 0 #466486;
}
.btnAlternativeBlue:hover {
    background-color: #466486;
}

.btnOnlineGreen {
    background-color: #55B844;
    color: #FFFFFF;
    box-shadow: inset 0 -6px 0 #3d8230;
}
.btnOnlineGreen:hover {
    background-color: #3d8230;
}

.btnOverGray {
    background-color: #D2CFD8;
    color: #000000;
    box-shadow: inset 0 -6px 0 #b0abba;
}
.btnOverGray:hover {
    background-color: #b0abba;
}

.btnBrandRed {
    background-color: #ff3754;
    color: #ffffff;
    box-shadow: inset 0 -6px 0 #d82e3f;
}
.btnBrandRed:hover {
    background-color: #d82e3f;
}
























/* -- GRYD SYSTEM -- */


.row {
    float: left;
    width: 100%;
    height: auto;
    margin-bottom: 6px;
}


.col-xs-1-1, .col-xs-1-2, 	.col-xs-2-2, .col-xs-1-3, 	.col-xs-2-3, 	.col-xs-3-3, .col-xs-1-4, 	.col-xs-2-4, 	.col-xs-3-4, 	.col-xs-4-4, .col-xs-1-5, 	.col-xs-2-5, 	.col-xs-3-5, 	.col-xs-4-5, 	.col-xs-5-5, .col-xs-1-6, 	.col-xs-2-6, 	.col-xs-3-6, 	.col-xs-4-6, 	.col-xs-5-6, 	.col-xs-6-6, .col-xs-1-7, 	.col-xs-2-7, 	.col-xs-3-7, 	.col-xs-4-7, 	.col-xs-5-7, 	.col-xs-6-7, 	.col-xs-7-7, .col-xs-1-8, 	.col-xs-2-8, 	.col-xs-3-8, 	.col-xs-4-8, 	.col-xs-5-8, 	.col-xs-6-8, 	.col-xs-7-8, 	.col-xs-8-8, .col-xs-1-9, 	.col-xs-2-9, 	.col-xs-3-9, 	.col-xs-4-9, 	.col-xs-5-9, 	.col-xs-6-9, 	.col-xs-7-9, 	.col-xs-8-9, 	.col-xs-9-9, .col-xs-1-10, 	.col-xs-2-10, 	.col-xs-3-10, 	.col-xs-4-10, 	.col-xs-5-10, 	.col-xs-6-10, 	.col-xs-7-10, 	.col-xs-8-10, 	.col-xs-9-10, 	.col-xs-10-10,
.col-sm-1-1, .col-sm-1-2, 	.col-sm-2-2, .col-sm-1-3, 	.col-sm-2-3, 	.col-sm-3-3, .col-sm-1-4, 	.col-sm-2-4, 	.col-sm-3-4, 	.col-sm-4-4, .col-sm-1-5, 	.col-sm-2-5, 	.col-sm-3-5, 	.col-sm-4-5, 	.col-sm-5-5, .col-sm-1-6, 	.col-sm-2-6, 	.col-sm-3-6, 	.col-sm-4-6, 	.col-sm-5-6, 	.col-sm-6-6, .col-sm-1-7, 	.col-sm-2-7, 	.col-sm-3-7, 	.col-sm-4-7, 	.col-sm-5-7, 	.col-sm-6-7, 	.col-sm-7-7, .col-sm-1-8, 	.col-sm-2-8, 	.col-sm-3-8, 	.col-sm-4-8, 	.col-sm-5-8, 	.col-sm-6-8, 	.col-sm-7-8, 	.col-sm-8-8, .col-sm-1-9, 	.col-sm-2-9, 	.col-sm-3-9, 	.col-sm-4-9, 	.col-sm-5-9, 	.col-sm-6-9, 	.col-sm-7-9, 	.col-sm-8-9, 	.col-sm-9-9, .col-sm-1-10, 	.col-sm-2-10, 	.col-sm-3-10, 	.col-sm-4-10, 	.col-sm-5-10, 	.col-sm-6-10, 	.col-sm-7-10, 	.col-sm-8-10, 	.col-sm-9-10, 	.col-sm-10-10,
.col-md-1-1, .col-md-1-2, 	.col-md-2-2, .col-md-1-3, 	.col-md-2-3, 	.col-md-3-3, .col-md-1-4, 	.col-md-2-4, 	.col-md-3-4, 	.col-md-4-4, .col-md-1-5, 	.col-md-2-5, 	.col-md-3-5, 	.col-md-4-5, 	.col-md-5-5, .col-md-1-6, 	.col-md-2-6, 	.col-md-3-6, 	.col-md-4-6, 	.col-md-5-6, 	.col-md-6-6, .col-md-1-7, 	.col-md-2-7, 	.col-md-3-7, 	.col-md-4-7, 	.col-md-5-7, 	.col-md-6-7, 	.col-md-7-7, .col-md-1-8, 	.col-md-2-8, 	.col-md-3-8, 	.col-md-4-8, 	.col-md-5-8, 	.col-md-6-8, 	.col-md-7-8, 	.col-md-8-8, .col-md-1-9, 	.col-md-2-9, 	.col-md-3-9, 	.col-md-4-9, 	.col-md-5-9, 	.col-md-6-9, 	.col-md-7-9, 	.col-md-8-9, 	.col-md-9-9, .col-md-1-10, 	.col-md-2-10, 	.col-md-3-10, 	.col-md-4-10, 	.col-md-5-10, 	.col-md-6-10, 	.col-md-7-10, 	.col-md-8-10, 	.col-md-9-10, 	.col-md-10-10,
.col-lg-1-1, .col-lg-1-2, 	.col-lg-2-2, .col-lg-1-3, 	.col-lg-2-3, 	.col-lg-3-3, .col-lg-1-4, 	.col-lg-2-4, 	.col-lg-3-4, 	.col-lg-4-4, .col-lg-1-5, 	.col-lg-2-5, 	.col-lg-3-5, 	.col-lg-4-5, 	.col-lg-5-5, .col-lg-1-6, 	.col-lg-2-6, 	.col-lg-3-6, 	.col-lg-4-6, 	.col-lg-5-6, 	.col-lg-6-6, .col-lg-1-7, 	.col-lg-2-7, 	.col-lg-3-7, 	.col-lg-4-7, 	.col-lg-5-7, 	.col-lg-6-7, 	.col-lg-7-7, .col-lg-1-8, 	.col-lg-2-8, 	.col-lg-3-8, 	.col-lg-4-8, 	.col-lg-5-8, 	.col-lg-6-8, 	.col-lg-7-8, 	.col-lg-8-8, .col-lg-1-9, 	.col-lg-2-9, 	.col-lg-3-9, 	.col-lg-4-9, 	.col-lg-5-9, 	.col-lg-6-9, 	.col-lg-7-9, 	.col-lg-8-9, 	.col-lg-9-9, .col-lg-1-10, 	.col-lg-2-10, 	.col-lg-3-10, 	.col-lg-4-10, 	.col-lg-5-10, 	.col-lg-6-10, 	.col-lg-7-10, 	.col-lg-8-10, 	.col-lg-9-10, 	.col-lg-10-10
{
    position: relative;
    min-height: 1px;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 6px;
    float: left;
}


/* SIZE COL XS*/
.col-xs-1-1 {   width: calc( 100% - 30px );  }
.col-xs-1-2 {   width: calc( 50% - 30px );  }  .col-xs-2-2 {   width: calc( 100% - 30px );  }
.col-xs-1-3 {   width: calc( 33.33333333% - 30px );  }  .col-xs-2-3 {   width: calc( 66.66666667% - 30px );  }  .col-xs-3-3 {   width: calc( 100% - 30px );  }
.col-xs-1-4 {   width: calc( 25% - 30px );  }  .col-xs-2-4 {   width: calc( 50% - 30px );  }  .col-xs-3-4 {   width: calc( 75% - 30px );  }  .col-xs-4-4 {   width: calc( 100% - 30px );  }
.col-xs-1-5 {   width: calc( 20% - 30px );  }  .col-xs-2-5 {   width: calc( 40% - 30px );  }  .col-xs-3-5 {   width: calc( 60% - 30px );  }  .col-xs-4-5 {   width: calc( 80% - 30px );  }  .col-xs-5-5 {   width: calc( 100% - 30px );  }
.col-xs-1-6 {   width: calc( 16.66666667% - 30px );  }  .col-xs-2-6 {   width: calc( 33.33333333% - 30px );  }  .col-xs-3-6 {   width: calc( 50% - 30px );  }  .col-xs-4-6 {   width: calc( 66.66666667% - 30px );  }  .col-xs-5-6 {   width: calc( 83.33333333% - 30px );  }  .col-xs-6-6 {   width: calc( 100% - 30px );  }
.col-xs-1-7 {   width: calc( 14.28571429% - 30px );  }  .col-xs-2-7 {   width: calc( 28.57142857% - 30px );  }  .col-xs-3-7 {   width: calc( 42.85714286% - 30px );  }  .col-xs-4-7 {   width: calc( 57.14285714% - 30px );  }  .col-xs-5-7 {   width: calc( 71.42857143% - 30px );  }  .col-xs-6-7 {   width: calc( 85.71428571% - 30px );  }  .col-xs-7-7 {   width: calc( 100% - 30px );  }
.col-xs-1-8 {   width: calc( 12.5% - 30px );  }  .col-xs-2-8 {   width: calc( 25% - 30px );  }  .col-xs-3-8 {   width: calc( 37.5% - 30px );  }  .col-xs-4-8 {   width: calc( 50% - 30px );  }  .col-xs-5-8 {   width: calc( 62.5% - 30px );  }  .col-xs-6-8 {   width: calc( 75% - 30px );  }  .col-xs-7-8 {   width: calc( 87.5% - 30px );  }  .col-xs-8-8 {   width: calc( 100% - 30px );  }
.col-xs-1-9 {   width: calc( 11.11111111% - 30px );  }  .col-xs-2-9 {   width: calc( 22.22222222% - 30px );  }  .col-xs-3-9 {   width: calc( 33.33333333% - 30px );  }  .col-xs-4-9 {   width: calc( 44.44444444% - 30px );  }  .col-xs-5-9 {   width: calc( 55.55555556% - 30px );  }  .col-xs-6-9 {   width: calc( 66.66666667% - 30px );  }  .col-xs-7-9 {   width: calc( 77.77777778% - 30px );  }  .col-xs-8-9 {   width: calc( 88.88888889% - 30px );  }  .col-xs-9-9 {   width: calc( 100% - 30px );  }
.col-xs-1-10 {   width: calc( 10% - 30px );  }  .col-xs-2-10 {   width: calc( 20% - 30px );  }  .col-xs-3-10 {   width: calc( 30% - 30px );  }  .col-xs-4-10 {   width: calc( 40% - 30px );  }  .col-xs-5-10 {   width: calc( 50% - 30px );  }  .col-xs-6-10 {   width: calc( 60% - 30px );  }  .col-xs-7-10 {   width: calc( 70% - 30px );  }  .col-xs-8-10 {   width: calc( 80% - 30px );  }  .col-xs-9-10 {   width: calc( 90% - 30px );  }  .col-xs-10-10 {   width: calc( 100% - 30px );  }

.col-xs-offset-1-2 {   margin-left: calc( 50%  + 15px );  }
.col-xs-offset-1-3 {   margin-left: calc( 33.33333333%  + 15px );  }  .col-xs-offset-2-3 {   margin-left: calc( 66.66666667%  + 15px );  }
.col-xs-offset-1-4 {   margin-left: calc( 25%  + 15px );  }  .col-xs-offset-2-4 {   margin-left: calc( 50%  + 15px );  }  .col-xs-offset-3-4 {   margin-left: calc( 75%  + 15px );  }
.col-xs-offset-1-5 {   margin-left: calc( 20%  + 15px );  }  .col-xs-offset-2-5 {   margin-left: calc( 40%  + 15px );  }  .col-xs-offset-3-5 {   margin-left: calc( 60%  + 15px );  }  .col-xs-offset-4-5 {   margin-left: calc( 80%  + 15px );  }
.col-xs-offset-1-6 {   margin-left: calc( 16.66666667%  + 15px );  }  .col-xs-offset-2-6 {   margin-left: calc( 33.33333333%  + 15px );  }  .col-xs-offset-3-6 {   margin-left: calc( 50%  + 15px );  }  .col-xs-offset-4-6 {   margin-left: calc( 66.66666667%  + 15px );  }  .col-xs-offset-5-6 {   margin-left: calc( 83.33333333%  + 15px );  }
.col-xs-offset-1-7 {   margin-left: calc( 14.28571429%  + 15px );  }  .col-xs-offset-2-7 {   margin-left: calc( 28.57142857%  + 15px );  }  .col-xs-offset-3-7 {   margin-left: calc( 42.85714286%  + 15px );  }  .col-xs-offset-4-7 {   margin-left: calc( 57.14285714%  + 15px );  }  .col-xs-offset-5-7 {   margin-left: calc( 71.42857143%  + 15px );  }  .col-xs-offset-6-7 {   margin-left: calc( 85.71428571%  + 15px );  }
.col-xs-offset-1-8 {   margin-left: calc( 12.5%  + 15px );  }  .col-xs-offset-2-8 {   margin-left: calc( 25%  + 15px );  }  .col-xs-offset-3-8 {   margin-left: calc( 37.5%  + 15px );  }  .col-xs-offset-4-8 {   margin-left: calc( 50%  + 15px );  }  .col-xs-offset-5-8 {   margin-left: calc( 62.5%  + 15px );  }  .col-xs-offset-6-8 {   margin-left: calc( 75%  + 15px );  }  .col-xs-offset-7-8 {   margin-left: calc( 87.5%  + 15px );  }
.col-xs-offset-1-9 {   margin-left: calc( 11.11111111%  + 15px );  }  .col-xs-offset-2-9 {   margin-left: calc( 22.22222222%  + 15px );  }  .col-xs-offset-3-9 {   margin-left: calc( 33.33333333%  + 15px );  }  .col-xs-offset-4-9 {   margin-left: calc( 44.44444444%  + 15px );  }  .col-xs-offset-5-9 {   margin-left: calc( 55.55555556%  + 15px );  }  .col-xs-offset-6-9 {   margin-left: calc( 66.66666667%  + 15px );  }  .col-xs-offset-7-9 {   margin-left: calc( 77.77777778%  + 15px );  }  .col-xs-offset-8-9 {   margin-left: calc( 88.88888889%  + 15px );  }
.col-xs-offset-1-10 {   margin-left: calc( 10%  + 15px );  }  .col-xs-offset-2-10 {   margin-left: calc( 20%  + 15px );  }  .col-xs-offset-3-10 {   margin-left: calc( 30%  + 15px );  }  .col-xs-offset-4-10 {   margin-left: calc( 40%  + 15px );  }  .col-xs-offset-5-10 {   margin-left: calc( 50%  + 15px );  }  .col-xs-offset-6-10 {   margin-left: calc( 60%  + 15px );  }  .col-xs-offset-7-10 {   margin-left: calc( 70%  + 15px );  }  .col-xs-offset-8-10 {   margin-left: calc( 80%  + 15px );  }  .col-xs-offset-9-10 {   margin-left: calc( 90%  + 15px );  }


/* size col-sm*/
@media (min-width: 768px)
{
    .col-sm-1-1 {   width: calc( 100% - 30px );  }
    .col-sm-1-2 {   width: calc( 50% - 30px );  }  .col-sm-2-2 {   width: calc( 100% - 30px );  }
    .col-sm-1-3 {   width: calc( 33.33333333% - 30px );  }  .col-sm-2-3 {   width: calc( 66.66666667% - 30px );  }  .col-sm-3-3 {   width: calc( 100% - 30px );  }
    .col-sm-1-4 {   width: calc( 25% - 30px );  }  .col-sm-2-4 {   width: calc( 50% - 30px );  }  .col-sm-3-4 {   width: calc( 75% - 30px );  }  .col-sm-4-4 {   width: calc( 100% - 30px );  }
    .col-sm-1-5 {   width: calc( 20% - 30px );  }  .col-sm-2-5 {   width: calc( 40% - 30px );  }  .col-sm-3-5 {   width: calc( 60% - 30px );  }  .col-sm-4-5 {   width: calc( 80% - 30px );  }  .col-sm-5-5 {   width: calc( 100% - 30px );  }
    .col-sm-1-6 {   width: calc( 16.66666667% - 30px );  }  .col-sm-2-6 {   width: calc( 33.33333333% - 30px );  }  .col-sm-3-6 {   width: calc( 50% - 30px );  }  .col-sm-4-6 {   width: calc( 66.66666667% - 30px );  }  .col-sm-5-6 {   width: calc( 83.33333333% - 30px );  }  .col-sm-6-6 {   width: calc( 100% - 30px );  }
    .col-sm-1-7 {   width: calc( 14.28571429% - 30px );  }  .col-sm-2-7 {   width: calc( 28.57142857% - 30px );  }  .col-sm-3-7 {   width: calc( 42.85714286% - 30px );  }  .col-sm-4-7 {   width: calc( 57.14285714% - 30px );  }  .col-sm-5-7 {   width: calc( 71.42857143% - 30px );  }  .col-sm-6-7 {   width: calc( 85.71428571% - 30px );  }  .col-sm-7-7 {   width: calc( 100% - 30px );  }
    .col-sm-1-8 {   width: calc( 12.5% - 30px );  }  .col-sm-2-8 {   width: calc( 25% - 30px );  }  .col-sm-3-8 {   width: calc( 37.5% - 30px );  }  .col-sm-4-8 {   width: calc( 50% - 30px );  }  .col-sm-5-8 {   width: calc( 62.5% - 30px );  }  .col-sm-6-8 {   width: calc( 75% - 30px );  }  .col-sm-7-8 {   width: calc( 87.5% - 30px );  }  .col-sm-8-8 {   width: calc( 100% - 30px );  }
    .col-sm-1-9 {   width: calc( 11.11111111% - 30px );  }  .col-sm-2-9 {   width: calc( 22.22222222% - 30px );  }  .col-sm-3-9 {   width: calc( 33.33333333% - 30px );  }  .col-sm-4-9 {   width: calc( 44.44444444% - 30px );  }  .col-sm-5-9 {   width: calc( 55.55555556% - 30px );  }  .col-sm-6-9 {   width: calc( 66.66666667% - 30px );  }  .col-sm-7-9 {   width: calc( 77.77777778% - 30px );  }  .col-sm-8-9 {   width: calc( 88.88888889% - 30px );  }  .col-sm-9-9 {   width: calc( 100% - 30px );  }
    .col-sm-1-10 {   width: calc( 10% - 30px );  }  .col-sm-2-10 {   width: calc( 20% - 30px );  }  .col-sm-3-10 {   width: calc( 30% - 30px );  }  .col-sm-4-10 {   width: calc( 40% - 30px );  }  .col-sm-5-10 {   width: calc( 50% - 30px );  }  .col-sm-6-10 {   width: calc( 60% - 30px );  }  .col-sm-7-10 {   width: calc( 70% - 30px );  }  .col-sm-8-10 {   width: calc( 80% - 30px );  }  .col-sm-9-10 {   width: calc( 90% - 30px );  }  .col-sm-10-10 {   width: calc( 100% - 30px );  }

    .col-sm-offset-1-2 {   margin-left: calc( 50%  + 15px );  }
    .col-sm-offset-1-3 {   margin-left: calc( 33.33333333%  + 15px );  }  .col-sm-offset-2-3 {   margin-left: calc( 66.66666667%  + 15px );  }
    .col-sm-offset-1-4 {   margin-left: calc( 25%  + 15px );  }  .col-sm-offset-2-4 {   margin-left: calc( 50%  + 15px );  }  .col-sm-offset-3-4 {   margin-left: calc( 75%  + 15px );  }
    .col-sm-offset-1-5 {   margin-left: calc( 20%  + 15px );  }  .col-sm-offset-2-5 {   margin-left: calc( 40%  + 15px );  }  .col-sm-offset-3-5 {   margin-left: calc( 60%  + 15px );  }  .col-sm-offset-4-5 {   margin-left: calc( 80%  + 15px );  }
    .col-sm-offset-1-6 {   margin-left: calc( 16.66666667%  + 15px );  }  .col-sm-offset-2-6 {   margin-left: calc( 33.33333333%  + 15px );  }  .col-sm-offset-3-6 {   margin-left: calc( 50%  + 15px );  }  .col-sm-offset-4-6 {   margin-left: calc( 66.66666667%  + 15px );  }  .col-sm-offset-5-6 {   margin-left: calc( 83.33333333%  + 15px );  }
    .col-sm-offset-1-7 {   margin-left: calc( 14.28571429%  + 15px );  }  .col-sm-offset-2-7 {   margin-left: calc( 28.57142857%  + 15px );  }  .col-sm-offset-3-7 {   margin-left: calc( 42.85714286%  + 15px );  }  .col-sm-offset-4-7 {   margin-left: calc( 57.14285714%  + 15px );  }  .col-sm-offset-5-7 {   margin-left: calc( 71.42857143%  + 15px );  }  .col-sm-offset-6-7 {   margin-left: calc( 85.71428571%  + 15px );  }
    .col-sm-offset-1-8 {   margin-left: calc( 12.5%  + 15px );  }  .col-sm-offset-2-8 {   margin-left: calc( 25%  + 15px );  }  .col-sm-offset-3-8 {   margin-left: calc( 37.5%  + 15px );  }  .col-sm-offset-4-8 {   margin-left: calc( 50%  + 15px );  }  .col-sm-offset-5-8 {   margin-left: calc( 62.5%  + 15px );  }  .col-sm-offset-6-8 {   margin-left: calc( 75%  + 15px );  }  .col-sm-offset-7-8 {   margin-left: calc( 87.5%  + 15px );  }
    .col-sm-offset-1-9 {   margin-left: calc( 11.11111111%  + 15px );  }  .col-sm-offset-2-9 {   margin-left: calc( 22.22222222%  + 15px );  }  .col-sm-offset-3-9 {   margin-left: calc( 33.33333333%  + 15px );  }  .col-sm-offset-4-9 {   margin-left: calc( 44.44444444%  + 15px );  }  .col-sm-offset-5-9 {   margin-left: calc( 55.55555556%  + 15px );  }  .col-sm-offset-6-9 {   margin-left: calc( 66.66666667%  + 15px );  }  .col-sm-offset-7-9 {   margin-left: calc( 77.77777778%  + 15px );  }  .col-sm-offset-8-9 {   margin-left: calc( 88.88888889%  + 15px );  }
    .col-sm-offset-1-10 {   margin-left: calc( 10%  + 15px );  }  .col-sm-offset-2-10 {   margin-left: calc( 20%  + 15px );  }  .col-sm-offset-3-10 {   margin-left: calc( 30%  + 15px );  }  .col-sm-offset-4-10 {   margin-left: calc( 40%  + 15px );  }  .col-sm-offset-5-10 {   margin-left: calc( 50%  + 15px );  }  .col-sm-offset-6-10 {   margin-left: calc( 60%  + 15px );  }  .col-sm-offset-7-10 {   margin-left: calc( 70%  + 15px );  }  .col-sm-offset-8-10 {   margin-left: calc( 80%  + 15px );  }  .col-sm-offset-9-10 {   margin-left: calc( 90%  + 15px );  }
}


/* size col-md*/
@media (min-width: 992px)
{
    .col-md-1-1 {   width: calc( 100% - 30px );  }
    .col-md-1-2 {   width: calc( 50% - 30px );  }  .col-md-2-2 {   width: calc( 100% - 30px );  }
    .col-md-1-3 {   width: calc( 33.33333333% - 30px );  }  .col-md-2-3 {   width: calc( 66.66666667% - 30px );  }  .col-md-3-3 {   width: calc( 100% - 30px );  }
    .col-md-1-4 {   width: calc( 25% - 30px );  }  .col-md-2-4 {   width: calc( 50% - 30px );  }  .col-md-3-4 {   width: calc( 75% - 30px );  }  .col-md-4-4 {   width: calc( 100% - 30px );  }
    .col-md-1-5 {   width: calc( 20% - 30px );  }  .col-md-2-5 {   width: calc( 40% - 30px );  }  .col-md-3-5 {   width: calc( 60% - 30px );  }  .col-md-4-5 {   width: calc( 80% - 30px );  }  .col-md-5-5 {   width: calc( 100% - 30px );  }
    .col-md-1-6 {   width: calc( 16.66666667% - 30px );  }  .col-md-2-6 {   width: calc( 33.33333333% - 30px );  }  .col-md-3-6 {   width: calc( 50% - 30px );  }  .col-md-4-6 {   width: calc( 66.66666667% - 30px );  }  .col-md-5-6 {   width: calc( 83.33333333% - 30px );  }  .col-md-6-6 {   width: calc( 100% - 30px );  }
    .col-md-1-7 {   width: calc( 14.28571429% - 30px );  }  .col-md-2-7 {   width: calc( 28.57142857% - 30px );  }  .col-md-3-7 {   width: calc( 42.85714286% - 30px );  }  .col-md-4-7 {   width: calc( 57.14285714% - 30px );  }  .col-md-5-7 {   width: calc( 71.42857143% - 30px );  }  .col-md-6-7 {   width: calc( 85.71428571% - 30px );  }  .col-md-7-7 {   width: calc( 100% - 30px );  }
    .col-md-1-8 {   width: calc( 12.5% - 30px );  }  .col-md-2-8 {   width: calc( 25% - 30px );  }  .col-md-3-8 {   width: calc( 37.5% - 30px );  }  .col-md-4-8 {   width: calc( 50% - 30px );  }  .col-md-5-8 {   width: calc( 62.5% - 30px );  }  .col-md-6-8 {   width: calc( 75% - 30px );  }  .col-md-7-8 {   width: calc( 87.5% - 30px );  }  .col-md-8-8 {   width: calc( 100% - 30px );  }
    .col-md-1-9 {   width: calc( 11.11111111% - 30px );  }  .col-md-2-9 {   width: calc( 22.22222222% - 30px );  }  .col-md-3-9 {   width: calc( 33.33333333% - 30px );  }  .col-md-4-9 {   width: calc( 44.44444444% - 30px );  }  .col-md-5-9 {   width: calc( 55.55555556% - 30px );  }  .col-md-6-9 {   width: calc( 66.66666667% - 30px );  }  .col-md-7-9 {   width: calc( 77.77777778% - 30px );  }  .col-md-8-9 {   width: calc( 88.88888889% - 30px );  }  .col-md-9-9 {   width: calc( 100% - 30px );  }
    .col-md-1-10 {   width: calc( 10% - 30px );  }  .col-md-2-10 {   width: calc( 20% - 30px );  }  .col-md-3-10 {   width: calc( 30% - 30px );  }  .col-md-4-10 {   width: calc( 40% - 30px );  }  .col-md-5-10 {   width: calc( 50% - 30px );  }  .col-md-6-10 {   width: calc( 60% - 30px );  }  .col-md-7-10 {   width: calc( 70% - 30px );  }  .col-md-8-10 {   width: calc( 80% - 30px );  }  .col-md-9-10 {   width: calc( 90% - 30px );  }  .col-md-10-10 {   width: calc( 100% - 30px );  }

    .col-md-offset-1-2 {   margin-left: calc( 50%  + 15px );  }
    .col-md-offset-1-3 {   margin-left: calc( 33.33333333%  + 15px );  }  .col-md-offset-2-3 {   margin-left: calc( 66.66666667%  + 15px );  }
    .col-md-offset-1-4 {   margin-left: calc( 25%  + 15px );  }  .col-md-offset-2-4 {   margin-left: calc( 50%  + 15px );  }  .col-md-offset-3-4 {   margin-left: calc( 75%  + 15px );  }
    .col-md-offset-1-5 {   margin-left: calc( 20%  + 15px );  }  .col-md-offset-2-5 {   margin-left: calc( 40%  + 15px );  }  .col-md-offset-3-5 {   margin-left: calc( 60%  + 15px );  }  .col-md-offset-4-5 {   margin-left: calc( 80%  + 15px );  }
    .col-md-offset-1-6 {   margin-left: calc( 16.66666667%  + 15px );  }  .col-md-offset-2-6 {   margin-left: calc( 33.33333333%  + 15px );  }  .col-md-offset-3-6 {   margin-left: calc( 50%  + 15px );  }  .col-md-offset-4-6 {   margin-left: calc( 66.66666667%  + 15px );  }  .col-md-offset-5-6 {   margin-left: calc( 83.33333333%  + 15px );  }
    .col-md-offset-1-7 {   margin-left: calc( 14.28571429%  + 15px );  }  .col-md-offset-2-7 {   margin-left: calc( 28.57142857%  + 15px );  }  .col-md-offset-3-7 {   margin-left: calc( 42.85714286%  + 15px );  }  .col-md-offset-4-7 {   margin-left: calc( 57.14285714%  + 15px );  }  .col-md-offset-5-7 {   margin-left: calc( 71.42857143%  + 15px );  }  .col-md-offset-6-7 {   margin-left: calc( 85.71428571%  + 15px );  }
    .col-md-offset-1-8 {   margin-left: calc( 12.5%  + 15px );  }  .col-md-offset-2-8 {   margin-left: calc( 25%  + 15px );  }  .col-md-offset-3-8 {   margin-left: calc( 37.5%  + 15px );  }  .col-md-offset-4-8 {   margin-left: calc( 50%  + 15px );  }  .col-md-offset-5-8 {   margin-left: calc( 62.5%  + 15px );  }  .col-md-offset-6-8 {   margin-left: calc( 75%  + 15px );  }  .col-md-offset-7-8 {   margin-left: calc( 87.5%  + 15px );  }
    .col-md-offset-1-9 {   margin-left: calc( 11.11111111%  + 15px );  }  .col-md-offset-2-9 {   margin-left: calc( 22.22222222%  + 15px );  }  .col-md-offset-3-9 {   margin-left: calc( 33.33333333%  + 15px );  }  .col-md-offset-4-9 {   margin-left: calc( 44.44444444%  + 15px );  }  .col-md-offset-5-9 {   margin-left: calc( 55.55555556%  + 15px );  }  .col-md-offset-6-9 {   margin-left: calc( 66.66666667%  + 15px );  }  .col-md-offset-7-9 {   margin-left: calc( 77.77777778%  + 15px );  }  .col-md-offset-8-9 {   margin-left: calc( 88.88888889%  + 15px );  }
    .col-md-offset-1-10 {   margin-left: calc( 10%  + 15px );  }  .col-md-offset-2-10 {   margin-left: calc( 20%  + 15px );  }  .col-md-offset-3-10 {   margin-left: calc( 30%  + 15px );  }  .col-md-offset-4-10 {   margin-left: calc( 40%  + 15px );  }  .col-md-offset-5-10 {   margin-left: calc( 50%  + 15px );  }  .col-md-offset-6-10 {   margin-left: calc( 60%  + 15px );  }  .col-md-offset-7-10 {   margin-left: calc( 70%  + 15px );  }  .col-md-offset-8-10 {   margin-left: calc( 80%  + 15px );  }  .col-md-offset-9-10 {   margin-left: calc( 90%  + 15px );  }
}


/* size col-lg*/
@media (min-width: 1200px)
{
    .col-lg-1-1 {   width: calc( 100% - 30px );  }
    .col-lg-1-2 {   width: calc( 50% - 30px );  }  .col-lg-2-2 {   width: calc( 100% - 30px );  }
    .col-lg-1-3 {   width: calc( 33.33333333% - 30px );  }  .col-lg-2-3 {   width: calc( 66.66666667% - 30px );  }  .col-lg-3-3 {   width: calc( 100% - 30px );  }
    .col-lg-1-4 {   width: calc( 25% - 30px );  }  .col-lg-2-4 {   width: calc( 50% - 30px );  }  .col-lg-3-4 {   width: calc( 75% - 30px );  }  .col-lg-4-4 {   width: calc( 100% - 30px );  }
    .col-lg-1-5 {   width: calc( 20% - 30px );  }  .col-lg-2-5 {   width: calc( 40% - 30px );  }  .col-lg-3-5 {   width: calc( 60% - 30px );  }  .col-lg-4-5 {   width: calc( 80% - 30px );  }  .col-lg-5-5 {   width: calc( 100% - 30px );  }
    .col-lg-1-6 {   width: calc( 16.66666667% - 30px );  }  .col-lg-2-6 {   width: calc( 33.33333333% - 30px );  }  .col-lg-3-6 {   width: calc( 50% - 30px );  }  .col-lg-4-6 {   width: calc( 66.66666667% - 30px );  }  .col-lg-5-6 {   width: calc( 83.33333333% - 30px );  }  .col-lg-6-6 {   width: calc( 100% - 30px );  }
    .col-lg-1-7 {   width: calc( 14.28571429% - 30px );  }  .col-lg-2-7 {   width: calc( 28.57142857% - 30px );  }  .col-lg-3-7 {   width: calc( 42.85714286% - 30px );  }  .col-lg-4-7 {   width: calc( 57.14285714% - 30px );  }  .col-lg-5-7 {   width: calc( 71.42857143% - 30px );  }  .col-lg-6-7 {   width: calc( 85.71428571% - 30px );  }  .col-lg-7-7 {   width: calc( 100% - 30px );  }
    .col-lg-1-8 {   width: calc( 12.5% - 30px );  }  .col-lg-2-8 {   width: calc( 25% - 30px );  }  .col-lg-3-8 {   width: calc( 37.5% - 30px );  }  .col-lg-4-8 {   width: calc( 50% - 30px );  }  .col-lg-5-8 {   width: calc( 62.5% - 30px );  }  .col-lg-6-8 {   width: calc( 75% - 30px );  }  .col-lg-7-8 {   width: calc( 87.5% - 30px );  }  .col-lg-8-8 {   width: calc( 100% - 30px );  }
    .col-lg-1-9 {   width: calc( 11.11111111% - 30px );  }  .col-lg-2-9 {   width: calc( 22.22222222% - 30px );  }  .col-lg-3-9 {   width: calc( 33.33333333% - 30px );  }  .col-lg-4-9 {   width: calc( 44.44444444% - 30px );  }  .col-lg-5-9 {   width: calc( 55.55555556% - 30px );  }  .col-lg-6-9 {   width: calc( 66.66666667% - 30px );  }  .col-lg-7-9 {   width: calc( 77.77777778% - 30px );  }  .col-lg-8-9 {   width: calc( 88.88888889% - 30px );  }  .col-lg-9-9 {   width: calc( 100% - 30px );  }
    .col-lg-1-10 {   width: calc( 10% - 30px );  }  .col-lg-2-10 {   width: calc( 20% - 30px );  }  .col-lg-3-10 {   width: calc( 30% - 30px );  }  .col-lg-4-10 {   width: calc( 40% - 30px );  }  .col-lg-5-10 {   width: calc( 50% - 30px );  }  .col-lg-6-10 {   width: calc( 60% - 30px );  }  .col-lg-7-10 {   width: calc( 70% - 30px );  }  .col-lg-8-10 {   width: calc( 80% - 30px );  }  .col-lg-9-10 {   width: calc( 90% - 30px );  }  .col-lg-10-10 {   width: calc( 100% - 30px );  }

    .col-lg-offset-1-1 {   margin-left: 100%;  }
    .col-lg-offset-1-2 {   margin-left: 50%;  }  .col-lg-offset-2-2 {   margin-left: 100%;  }
    .col-lg-offset-1-3 {   margin-left: 33.33333333%;  }  .col-lg-offset-2-3 {   margin-left: 66.66666667%;  }  .col-lg-offset-3-3 {   margin-left: 100%;  }
    .col-lg-offset-1-4 {   margin-left: 25%;  }  .col-lg-offset-2-4 {   margin-left: 50%;  }  .col-lg-offset-3-4 {   margin-left: 75%;  }  .col-lg-offset-4-4 {   margin-left: 100%;  }
    .col-lg-offset-1-5 {   margin-left: 20%;  }  .col-lg-offset-2-5 {   margin-left: 40%;  }  .col-lg-offset-3-5 {   margin-left: 60%;  }  .col-lg-offset-4-5 {   margin-left: 80%;  }  .col-lg-offset-5-5 {   margin-left: 100%;  }
    .col-lg-offset-1-6 {   margin-left: 16.66666667%;  }  .col-lg-offset-2-6 {   margin-left: 33.33333333%;  }  .col-lg-offset-3-6 {   margin-left: 50%;  }  .col-lg-offset-4-6 {   margin-left: 66.66666667%;  }  .col-lg-offset-5-6 {   margin-left: 83.33333333%;  }  .col-lg-offset-6-6 {   margin-left: 100%;  }
    .col-lg-offset-1-7 {   margin-left: 14.28571429%;  }  .col-lg-offset-2-7 {   margin-left: 28.57142857%;  }  .col-lg-offset-3-7 {   margin-left: 42.85714286%;  }  .col-lg-offset-4-7 {   margin-left: 57.14285714%;  }  .col-lg-offset-5-7 {   margin-left: 71.42857143%;  }  .col-lg-offset-6-7 {   margin-left: 85.71428571%;  }  .col-lg-offset-7-7 {   margin-left: 100%;  }
    .col-lg-offset-1-8 {   margin-left: 12.5%;  }  .col-lg-offset-2-8 {   margin-left: 25%;  }  .col-lg-offset-3-8 {   margin-left: 37.5%;  }  .col-lg-offset-4-8 {   margin-left: 50%;  }  .col-lg-offset-5-8 {   margin-left: 62.5%;  }  .col-lg-offset-6-8 {   margin-left: 75%;  }  .col-lg-offset-7-8 {   margin-left: 87.5%;  }  .col-lg-offset-8-8 {   margin-left: 100%;  }
    .col-lg-offset-1-9 {   margin-left: 11.11111111%;  }  .col-lg-offset-2-9 {   margin-left: 22.22222222%;  }  .col-lg-offset-3-9 {   margin-left: 33.33333333%;  }  .col-lg-offset-4-9 {   margin-left: 44.44444444%;  }  .col-lg-offset-5-9 {   margin-left: 55.55555556%;  }  .col-lg-offset-6-9 {   margin-left: 66.66666667%;  }  .col-lg-offset-7-9 {   margin-left: 77.77777778%;  }  .col-lg-offset-8-9 {   margin-left: 88.88888889%;  }  .col-lg-offset-9-9 {   margin-left: 100%;  }
    .col-lg-offset-1-10 {   margin-left: 10%;  }  .col-lg-offset-2-10 {   margin-left: 20%;  }  .col-lg-offset-3-10 {   margin-left: 30%;  }  .col-lg-offset-4-10 {   margin-left: 40%;  }  .col-lg-offset-5-10 {   margin-left: 50%;  }  .col-lg-offset-6-10 {   margin-left: 60%;  }  .col-lg-offset-7-10 {   margin-left: 70%;  }  .col-lg-offset-8-10 {   margin-left: 80%;  }  .col-lg-offset-9-10 {   margin-left: 90%;  }  .col-lg-offset-10-10 {   margin-left: 100%;  }
}







/* -- divINPUTS -- */

/* input text */
.divInputText {
    background-color: #5c5c5c;
    border: solid #5c5c5c 1px;
    height: 35px;
    text-align: right;
    vertical-align: top;
    color: #ffffff;
    font-size: 0.8em;
    align-items: flex-end;
    text-transform: capitalize;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.divInputText input[type=text]{
    height: 20px;
    border: solid #FFFFFF 0px;
    width: calc(100% - 33px);
    text-indent: 10px;
    color: #444444;
    outline:  solid #ffffff 0px;
    text-transform: uppercase;
    font-size: 10pt;
}

.divInputText label
{
    display:inline-block;
    text-transform: uppercase;
    width: calc(100% - 33px);
    cursor: text;
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    margin: 0;
    background-color: #5c5c5c;
    height: 13px;
    padding: 0px 5px 0px 0px;
    color: #FFFFFF;
}


/* input date */
.divInputDate{
    background-color: #5c5c5c;
    border: solid #5c5c5c 1px;
    height: 35px;
    text-align: right;
    vertical-align: top;
    color: #ffffff;
    font-size: 0.8em;
    align-items: flex-end;
    text-transform: capitalize;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.divInputDate input[type=date]{
    height: 20px;
    border: solid #FFFFFF 0px;
    width: calc(100% - 33px);
    text-indent: 10px;
    color: #444444;
    outline:  solid #ffffff 0px;
    text-transform: uppercase;
    font-size: 10pt;
}

.divInputDate label
{
    display:inline-block;
    text-transform: uppercase;
    width: calc(100% - 33px);
    cursor: text;
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    margin: 0;
    background-color: #5c5c5c;
    height: 13px;
    padding: 0px 5px 0px 0px;
    color: #FFFFFF;
}


/* select */
.divSelect{
    background-color: #5c5c5c;
    border: solid #5c5c5c 1px;
    height: 35px;
    text-align: right;
    vertical-align: top;
    color: #ffffff;
    font-size: 8pt;
    align-items: flex-end;
    text-transform: uppercase;
    padding: 0px 0px 0px 0px;
    width: 100%;

}

.divSelect select{
    height: 22px;
    border: solid #FFFFFF 0px;
    width: calc(100% - 33px);
    text-indent: 10px;
    color: #444444;
    outline:  solid #ffffff 0px;
    text-transform: uppercase;
    font-size: 10pt;
}

.divSelect label
{
    display:inline-block;
    text-transform: uppercase;
    width: calc(100% - 33px);
    cursor: text;
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    margin: 0;
    background-color: #5c5c5c;
    height: 13px;
    padding: 0px 5px 0px 0px;
    color: #FFFFFF;
}


/* textarea */
.divInputTextArea{
    /*background-color: #1766A1;*/
    background-color: #5c5c5c;
    background-repeat: repeat-y,  no-repeat;
    background-position: 32px, 0;
    background-size: auto, 32px 35px;
    border: solid #5c5c5c 1px;
    height: 77px;
    text-align: left;
    vertical-align: top;
    color: #ffffff;
    font-size: 0.8em;
    align-items: flex-end;
    text-transform: capitalize;
    padding: 0px 0px 0px 0px;
    width: 100%;

}

.divInputTextArea textarea{
    height: 60px;
    border: solid #FFFFFF 0px;
    width: calc(100% - 4px);
    text-indent: 10px;
    color: #444444;
    outline:  solid #ffffff 0px;
    text-transform: uppercase;
    font-size: 10pt;
    resize: none;
}

.divInputTextArea label
{
    display:inline-block;
    text-transform: uppercase;
    width: calc(100% - 5px);
    cursor: text;
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    margin: 0;
    background-color: #5c5c5c;
    height: 13px;
    padding: 0px 5px 0px 0px;
    color: #FFFFFF;
    text-align: center;
}


/* checboxes y radios*/
.divInputRadio, .divInputCheck {
    background-color: #5c5c5c;
    border: solid #5c5c5c 1px;
    height: 35px;
    text-align: left;
    vertical-align: middle;
    color: #ffffff;
    font-size: 0.8em;
    align-items: flex-end;
    text-transform: capitalize;
    padding: 0px 0px 0px 0px;
    width: 100%;
}

.divInputRadio input[type=radio], .divInputCheck input[type=checkbox] {
    display:inline-block;
    height: 14px;
    width: 14px;
    margin: 11px 11px 10px 10px;
    border: solid #FFFFFF 0px;
    width: 14px;
    text-indent: 10px;
    color: #444444;
    outline:  solid #ffffff 0px;
    text-transform: uppercase;
    font-size: 10pt;
    float: left;
}

.divInputRadio label, .divInputCheck label
{
    display:inline-block;
    height: 19px;
    font-size: 14px;
    background-color:  #FFFFFF;
    text-transform: uppercase;
    width: calc(100% - 50px);
    cursor: pointer;
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    margin: 0;
    padding: 8px 5px 8px 10px;
    color: #1e202c;
    float: left;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}






/* -- DIV COLORS -- */

/* divBrandBlue */
.divBrandBlue
{
    background-color: #1766A1;
    border: solid #1766A1 1px;
    color: #00346F;
}

.divBrandBlue input[type=text], .divBrandBlue input[type=date]{
    border: solid #FFFFFF 0px;
    color: #444444;
    outline:  solid #ffffff 0px;
}

.divBrandBlue label
{
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    background-color: #1766A1;
    color: #FFFFFF;
}

/* divOverBlue */
.divOverBlue
{
    background-color: #00B8FE;
    border: solid #00B8FE 1px;
    color: #00346F;
}

.divOverBlue input[type=text], .divBrandBlue input[type=date]{
    border: solid #FFFFFF 0px;
    color: #444444;
    outline:  solid #ffffff 0px;
}

.divOverBlue label
{
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    background-color: #00B8FE;
    color: #FFFFFF;
}

/* divGreen */
.divGreen
{
    background-color: #55b844;
    border: solid #55b844 1px;
    color: #00346F;
}

.divGreen input[type=text], .divBrandBlue input[type=date]{
    border: solid #FFFFFF 0px;
    color: #444444;
    outline:  solid #ffffff 0px;
}

.divGreen label
{
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    background-color: #55b844;
    color: #FFFFFF;
}

/* divRed */
.divRed
{
    background-color: #ff3754;
    border: solid #ff3754 1px;
    color: #00346F;
}

.divRed input[type=text], .divBrandBlue input[type=date]{
    border: solid #FFFFFF 0px;
    color: #444444;
    outline:  solid #ffffff 0px;
}

.divRed label
{
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    background-color: #ff3754;
    color: #FFFFFF;
}

/* divYellow */
.divYellow
{
    background-color: #FFC000;
    border: solid #FFC000 1px;
    color: #00346F;
}

.divYellow input[type=text], .divBrandBlue input[type=date]{
    border: solid #FFFFFF 0px;
    color: #444444;
    outline:  solid #ffffff 0px;
}

.divYellow label
{
    outline:  solid #ffffff 0px;
    border: solid #FFFFFF 0px;
    background-color: #FFC000;
    color: #FFFFFF;
}



/* -- GLYPHS */

/* yellow icon */
.userYellow
{
    background-image: url('../img/glyph/user24Yellow.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-size: 24px 24px;
}

.userGray
{
    background-image: url('../img/glyph/user24Gray.png');
    background-repeat: no-repeat;
    background-position: 2px 2px;
    background-size: 24px 24px;
}








::-webkit-scrollbar{
    width: 10px;
    background: #dbe8ec;
}
::-webkit-scrollbar-button{
    width:8px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background:white;
    border:thin solid white;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;

}
::-webkit-scrollbar-thumb{
    background: -webkit-linear-gradient(top, #f1f1f1, #f1f1f1);
    -webkit-box-shadow:   inset 0 1px 0 rgba(255,255,225,.5),
    inset 1px 0 0 rgba(255,255,255,.4),
    inset 0 1px 2px rgba(255,255,255,.3);

    border:thin solid #232c34;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: -webkit-linear-gradient(top, gray, gray);
}
/* Pseudo-clase */
::-webkit-scrollbar-thumb:window-inactive {
    background: gray;
}
























table
{
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 9pt;
}

td, th
{
    padding: 0;
}


/* TABLE */
table
{
    background-color: #ffffff;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border: 1px solid #323544;
    min-height: .01%;
    overflow-x: auto;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777;
    text-align: left;
}
th {
    text-align: left;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    padding: 4px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #323544;
}
table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #1766A1;
    background-color: #1766A1;
    color: #FFFFFF;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td
{
    border-top: 0;
}


/*Table Strip*/
table > tbody > tr:nth-of-type(odd) {
    background-color: #F1F1F1;
}
/*Table Hover*/
table > tbody > tr:hover {
    background-color: #abbed3;
}

table col[class*="col-"] {
    position: static;
    display: table-column;
    float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    display: table-cell;
    float: none;
}

/* cell colors GREEN*/
table > thead > tr > td.green,
table > tbody > tr > td.green,
table > tfoot > tr > td.green,
table > thead > tr > th.green,
table > tbody > tr > th.green,
table > tfoot > tr > th.green,
table > thead > tr.green > td,
table > tbody > tr.green > td,
table > tfoot > tr.green > td,
table > thead > tr.green > th,
table > tbody > tr.green > th,
table > tfoot > tr.green > th {
    background-color: #55B844;
}

table > tbody > tr > td.green:hover,
table > tbody > tr > th.green:hover,
table > tbody > tr.green:hover > td,
table > tbody > tr:hover > .green,
table > tbody > tr.green:hover > th {
    background-color: #3d8230;
}

/* cell colors BLUE*/
table > thead > tr > td.blue,
table > tbody > tr > td.blue,
table > tfoot > tr > td.blue,
table > thead > tr > th.blue,
table > tbody > tr > th.blue,
table > tfoot > tr > th.blue,
table > thead > tr.blue > td,
table > tbody > tr.blue > td,
table > tfoot > tr.blue > td,
table > thead > tr.blue > th,
table > tbody > tr.blue > th,
table > tfoot > tr.blue > th {
    background-color: #00b8fe   ;
}

table > tbody > tr > td.blue:hover,
table > tbody > tr > th.blue:hover,
table > tbody > tr.blue:hover > td,
table > tbody > tr:hover > .blue,
table > tbody > tr.blue:hover > th {
    background-color: #0080b3;
}

/* cell colors RED*/
table > thead > tr > td.red,
table > tbody > tr > td.red,
table > tfoot > tr > td.red,
table > thead > tr > th.red,
table > tbody > tr > th.red,
table > tfoot > tr > th.red,
table > thead > tr.red > td,
table > tbody > tr.red > td,
table > tfoot > tr.red > td,
table > thead > tr.red > th,
table > tbody > tr.red > th,
table > tfoot > tr.red > th {
    background-color: #ff3754;
}

table > tbody > tr > td.red:hover,
table > tbody > tr > th.red:hover,
table > tbody > tr.red:hover > td,
table > tbody > tr:hover > .red,
table > tbody > tr.red:hover > th {
    background-color: #d82e3f;
}

/* cell colors YELLOW*/
table > thead > tr > td.yellow,
table > tbody > tr > td.yellow,
table > tfoot > tr > td.yellow,
table > thead > tr > th.yellow,
table > tbody > tr > th.yellow,
table > tfoot > tr > th.yellow,
table > thead > tr.yellow > td,
table > tbody > tr.yellow > td,
table > tfoot > tr.yellow > td,
table > thead > tr.yellow > th,
table > tbody > tr.yellow > th,
table > tfoot > tr.yellow > th {
    background-color: #FFC000;
}

table > tbody > tr > td.yellow:hover,
table > tbody > tr > th.yellow:hover,
table > tbody > tr.yellow:hover > td,
table > tbody > tr:hover > .yellow,
table > tbody > tr.yellow:hover > th {
    background-color: #b38600;
}


.tblContainer
{
    overflow: auto;
}
@media screen and (max-width: 767px) {

    table {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    table {
        margin-bottom: 0;
    }
    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td {
        white-space: nowrap;
    }
    table {
        border: 0;
    }
    table > thead > tr > th:first-child,
    table > tbody > tr > th:first-child,
    table > tfoot > tr > th:first-child,
    table > thead > tr > td:first-child,
    table > tbody > tr > td:first-child,
    table > tfoot > tr > td:first-child {
        border-left: 0;
    }
    table > thead > tr > th:last-child,
    table > tbody > tr > th:last-child,
    table > tfoot > tr > th:last-child,
    table > thead > tr > td:last-child,
    table > tbody > tr > td:last-child,
    table > tfoot > tr > td:last-child {
        border-right: 0;
    }
    table > tbody > tr:last-child > th,
    table > tfoot > tr:last-child > th,
    table > tbody > tr:last-child > td,
    table > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}

















/*tr:nth-child(odd) {
    background-color:#f2f2f2;
}
tr:nth-child(even) {
    background-color:#fbfbfb;
}*/

.divPagination
{
    margin-bottom: 2px; vertical-align: top;
}

.divPagesScroll
{
    display: inline-block; width: calc(100% - 152px); height: 1%; white-space: nowrap; overflow-x: auto; overflow-y: hidden; text-align: center;
}

.divPagination select {
    border: 1px #282828 solid;
    vertical-align: bottom;
    height: 22px;
    font-size: 9pt;
    padding: 0 5px 0 5px;

}

.labelPagination {
    display: inline-block;
    background-color: #C8C8C8;
    padding: 2px 5px 2px 5px;
    border-bottom: 3px #FFC000 solid;
    font-size: 8pt;
    font-weight: bold;
    margin: 0 2px 10px 2px;
    cursor: pointer;
    color: #282828;
    vertical-align: top;
    width: auto;
    text-align: center;

}

.labelPaginationArrow
{
    width: 20px;
}

.labelPagination:hover
{
    background-color: #FFC000;
}

.labelPaginationCurrent {
    background-color: #FFC000;
    border-color: #FFC000;
    cursor: auto;
    cursor: default;
}

.labelPaginationCurrent:hover
{
    background-color: #FFC000;
}

.labelPaginationDisabled {
    background-color: #686868;
    cursor: auto;
    border-color: #1e202c;
    cursor: not-allowed;
}

.labelPaginationDisabled:hover
{
    background-color: #686868;
}

.paginationInfo
{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}






/*CSS PARA ALERTS [INICIO]*/
.alert-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    margin-bottom: 100px;
}
/*CSS PARA ALERTS [FIN]*/

/*Alineacion de textos [INICIO]*/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}

/*Alineacion de textos [FIN]*/







