.divSort {
    padding: 0 0 0 0;
    vertical-align: middle;
}

.divSort .divSortContainer {
    display: inline-block;
    padding: 0 0 0 0;
    vertical-align: middle;
}

.divSort .divSortContainer .divSortLabel {
    width: calc(100% - 9px);
    text-align: left;
}

.divSort .divSortContainer .divSortOrder {
    font-size: 7pt;
    padding: 0 1px 0 2px;
    vertical-align: middle;
    cursor: pointer;
}

.divSort .divSortContainer .divSortOrder:hover {
    color: #EAEAEA;
}

