.productCard
{

}

.titleProduct
{
    width: 100%;
}





.contentProduct
{
    width: 100%;
    max-height: 200px;
}

.imageProduct
{
    width: 100%;
}

.imageProduct img
{
    width: 100%;
}




.btnsProduct
{
    width: 100%;
}