.input_select {
    border: 1px #282828 solid;
    vertical-align: middle;
    height: 24px;
    font-size: 11pt;
    padding: 0 5px 0 5px;
    background-color: #FFFFFF;
    width: 100px;
    outline: none;
    appearance:none;
    display: inline-block;
}

.tbl_months {
    margin: 0 auto 0 auto;
}

.tbodyMonths {
    display: block;
}

.tbl_months tbody tr:nth-child(even) {
    background-color: #EFEFEF;
}

.tbl_months tbody tr:nth-child(odd) {
    background-color: #F9F9F9;
}


.tbl_months td {
    text-align: left;
    padding: 0 8px 0 8px;
    height: 34px;
}

.divSalesImportBackground {
    z-index: 10000000;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.divSalesImportMain {
    text-align: center;
    padding: 0 10px 0 10px;
    border: 0;
    box-shadow: 0 1px 0 #585858;
    background-color: #EFEFEF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto auto;
    position: absolute;
    display: none;
    height: 300px;
    width: 600px;
}

.divSalesImportClose {
    text-align: right;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    height: 23px;
}

.lblSalesImportClose {
    cursor: pointer;
    font-size: 14pt;
    color: #FF2828;
    text-shadow: 0 1px 0 #EB1414;
}

.divSalesImportTitle {
    background-color: #007A47;
    text-align: center;
    border: 0;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #005C29;
    padding: 0 10px 0 10px;
    margin-bottom: 8px;
    height: 40px;
    line-height: 40px;
}

.divSalesImportFile {
    height: 25px;
    line-height: 25px;
    vertical-align: bottom;
    margin-bottom: 8px;
}

.divSalesImportResults {
    padding: 10px 10px 10px 10px;
    margin-bottom: 8px;
    height: 129px;
    max-height: 129px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: monospace;
    font-size: 9pt;
    text-align: left;
    background-color: #E0E0E0;
}

.divSalesImportButtons {
    display: block;
    height: 31px;
}

.divSalesCloseBackground {
    z-index: 10000000;
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}

.divSalesCloseMain {
    text-align: center;
    padding: 0 10px 0 10px;
    border: 0;
    box-shadow: 0 1px 0 #585858;
    background-color: #EFEFEF;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto auto;
    position: absolute;
    display: none;
    height: 95px;
    width: 400px;
}

.divSalesCloseTitle {
    background-color: #E0E0E0;
    text-align: center;
    border: 0;
    color: #282828;
    padding: 0 10px 0 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    height: 40px;
    line-height: 40px;
}

.divSalesImportButtons {
    display: block;
    height: 31px;
}